<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script>

            var liton = angular.module("myApp", []);
            liton.controller("myController", function ($scope) {
                $scope.fname = "Milton";
                $scope.lname = "kalam";
            });
        </script>
    </head>
    <body ng-controller="myController" ng-init="mal='red'">
        <div>
            First Name: <input style="background-color: {{mal}}" ng-model="mal" type="text" ng-model="fname"/><br/>
            Last Name: <input type="text" ng-model="lname"/><br/><br/>

            Full Name: {{fname + " " + lname}}
            
            <p>My First Expression: {{ 5 + 5 }}</p>

        </div>
    </body>
</html>
