<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script>
         var muapp =  angular.module("myApp",[]).controller("myCtrl", function ($scope){ 
                $scope.names = [
                    {name: 'jani',country:'Norway'},  
                    {name: 'Mortoza',country:'Bhutan'},  
                    {name: 'Shakil',country:'Canada'},  
                    {name: 'Mahabub',country:'Srilanka'},  
                    {name: 'Mostafa',country:'Panama'},  
                    {name: 'Safayen',country:'Bangladesh'},  
                    {name: 'Aahadi',country:'Japan'}
                ];
            });
        </script>
    </head>
    <body ng-controller="myCtrl">
       
            <h2>Loading the Project:</h2>
            <input type="text" ng-model="test"/>
            <ul>
                <li ng-repeat="x in names | filter: test">
                    {{x.name + "," + x.country}}
                </li>
            </ul>
  
    </body>
</html>
